*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
}
 body{ 
    background-size: cover; 
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
 } 

 h1 {
    font-size: 60px;
    margin: -80px 0 40px;
  }
  .countdown {
    /* display: flex; */
    /* display: none; */
    transform: scale(1);
  }









